* {
  background-color: black;
}

.elips {
  position: absolute;
  width: 555px;
  height: 555px;
  left: -87px;
  top: -41px;

  background: rgba(214, 34, 218, 0.59);
  filter: blur(247px);
}

.elips6 {
  position: absolute;
  width: 427px;
  height: 427px;
  left: -173px;
  top: 3814px;

  background: rgba(34, 86, 218, 0.59);
  filter: blur(247px);
}
