* {
  background-color: black;
}

.elips {
  position: absolute;
  width: 555px;
  height: 555px;
  left: -87px;
  top: -41px;
  background: rgba(214, 34, 218, 0.59);
  filter: blur(247px);
}

.img_cont {
  position: absolute;
  bottom: -61%;
}

.img1 {
  position: absolute;

  width: 388.13px;
  height: 463px;
  right: 8.78%;
  bottom: 10%;
  border-radius: 24px;
}

.img2 {
  position: absolute;
  left: 59.11%;
  right: 28.46%;
  z-index: -1;

  width: 388.13px;
  height: 463px;
  bottom: 15%;
  border-radius: 24px;
}

.img3 {
  position: absolute;
  left: 72.11%;
  right: 28.46%;
  z-index: -1;
  bottom: 5%;
  width: 388.13px;
  height: 463px;
  border-radius: 24px;
}

.cont_text1 {
  position: absolute;
  /* display: flex; */

  width: 726px;
  height: 270px;
  left: 121px;
  top: 200px;
  /* z-index: 1; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 94px;
  line-height: 90px;
  /* or 96% */
  margin: 0;
  text-align: left;
  letter-spacing: -2px;
  background-color: transparent;

  color: #001447;

  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.cont_text2 {
  position: absolute;
  width: 418px;
  height: 78px;
  left: 271px;
  top: 520px;
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  background-color: transparent;

  color: #001447;
}

.btn_nft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 120px;
  height: 120px;
  left: 121px;
  top: 511px;
  background: linear-gradient(112.62deg, #8d1cfe 29.4%, #0038ed 105.15%);
  border-radius: 200px;
}
